@import "../../node_modules/materialize-css/dist/css/materialize";


#root{
  overflow: hidden;
}
.list{
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
}

.card .card-image{
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
  img.placeholder{

    opacity:1;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    opacity:0;
    transition: opacity .2s ease-out;
  }
}